<div class="paginator-controls">
  <div>
    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
  </div>
  <div> 
      <ion-label>Items per page:</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="config.itemsPerPage" (selectionChange)="changePageItemCount($event)">
        <ion-select-option *ngFor="let page of pageSizeOptions" [value]="page">
          {{ page }}
        </ion-select-option>
        
      </ion-select>
   
  </div>
</div>

