<ion-item translucent>
  <ion-menu-button></ion-menu-button>
  <ion-title>ACCOUNT</ion-title>
</ion-item>
<ion-content >
  
  
 

  <form>
    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"   placeholder="Email Address" #userEmail required></ion-input>
    </ion-item>

     
    <ion-row>
      <ion-col>   
        <ion-button type="submit" color="danger"   (click)="authService.ForgotPassword(userEmail.value)">
          Send Password Reset Email
        </ion-button>
    
        <ion-button  color= "clear" routerLink='/app/tabs/sign-in'  >Already have an account?</ion-button> 
      </ion-col>
    </ion-row>
  </form>
 



</ion-content>