<ion-item translucent>
  <ion-menu-button></ion-menu-button>
  <ion-title>Search</ion-title>
</ion-item>



<ion-content >

<ion-toolbar>
  <ion-segment [(ngModel)]="type" scrollable  >
    <ion-segment-button value="doc">
      Sections
    </ion-segment-button>
    <ion-segment-button value="qs">
      Questions
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

  <ion-searchbar type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"></ion-searchbar>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'doc'" >
      <ion-item *ngFor="let item of Sections | filter:term  | slice:0:20"   routerLink="/app/tabs/doc/{{item.id}}">
        <ion-label >
          <p>{{item.id}} </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'qs'">
      <ion-item *ngFor="let post of blogPost | filter:term  | slice:0:10"   routerLink="/app/tabs/allblogs/{{post.postId}}/{{post.title | slug}}">

        <ion-label>
          <h2  style=" white-space: break-spaces;">
            {{post.title}}</h2>
          <ion-text color="medium">
            <h3 *ngIf="post.hasOwnProperty('codeId')">
              {{post.codeId}}
            </h3>
            <h4>by {{post.author}}</h4>
          </ion-text>

        </ion-label>
      </ion-item>
    </ion-list>
  </div>





</ion-content>