 
 

 
<ion-content  class="ion-padding">
      
    
  <h3>Reset Password</h3>
  <p class="text-center">Please enter your email address to request a password reset.</p>

  <ion-item >
    
    <ion-input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required ></ion-input>
  </ion-item>

 

  <!-- Calling SignIn Api from AuthService -->
 
    <ion-chip color="primary"   (click)="forgot(passwordResetEmail.value)">Submit</ion-chip>
 
<p>  
<span>Go back to<ion-chip outline    routerLink="/app/tabs/sign-in"> Log In</ion-chip></span>
</p>
   
</ion-content>  
