<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion >
    <mat-expansion-panel  *ngFor="let sec of SecTree" hideToggle>
      <mat-expansion-panel-header>
          {{sec.title}} 
      </mat-expansion-panel-header>
       <mat-accordion >
        <mat-expansion-panel   *ngFor="let subsect of sec.children" hideToggle>
          <mat-expansion-panel-header>
            {{subsect.title}}
          </mat-expansion-panel-header>
               <mat-accordion >
                <mat-expansion-panel  *ngFor="let subsubsect of subsect.children" hideToggle>
                  <mat-expansion-panel-header>
                    {{subsubsect.title}} </mat-expansion-panel-header>
                      <p class="contentText" [outerHTML]= "getSectionById(subsubsect.id)"></p>
                </mat-expansion-panel>
                </mat-accordion>
        </mat-expansion-panel>
        </mat-accordion>
    
    </mat-expansion-panel>
    </mat-accordion>
  
  
 
</ion-content>
