<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar >
          <ion-title>OBC</ion-title>
        </ion-toolbar>
      </ion-header>
        
 

      <ion-content>
      
        <ion-list lines="none">
        
          <ion-menu-toggle *ngIf="appUser" autoHide="false" >
            <ion-item *ngIf="appUser"  routerLink="/app/tabs/account"  routerLinkActive="active" detail="false">
              <ion-avatar slot="start">
                <img src={{appUser.photoURL}}>
              </ion-avatar>
              <ion-label>{{appUser.name}} </ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle *ngIf="appUser" autoHide="false">
            <ion-item  routerLink="" (click)="logout()" routerLinkActive="active" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle> 
          
          <ion-menu-toggle *ngIf="!appUser"  autoHide="false"> 
              <ion-item routerLink="/app/tabs/sign-in" routerLinkActive="active" detail="false">
                <ion-icon slot="start" name="log-in"></ion-icon>
                <ion-label>
                  Login
                </ion-label>
              </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle  autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

 

          
 
      






          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>



          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>


      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>