<ion-header [translucent]="false">
  <ion-toolbar>

    <ion-title>{{formTitle}} Post</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card>
  <hr />
  <form #myForm="ngForm" (ngSubmit)="myForm.form.valid && saveBlogPost()" accept-charset="UTF-8" novalidate>
  
    <input type="text" class="blogHeader" placeholder="Add title..." class="form-control" name="postTitle"
      [(ngModel)]="postData.title" #postTitle="ngModel" required />
    <span class="text-danger" *ngIf="myForm.submitted && postTitle.errors?.required">
      Title is required
    </span>
    <br />
    <div class="form-group">
      <ckeditor class="editor" name="myckeditor" [config]="ckeConfig" [(ngModel)]="postData.content" #myckeditor="ngModel"
        debounce="300" [editor]="Editor"></ckeditor>
    </div>
  
    <br />
     
      <ion-searchbar type="text" name="termSearch" placeholder="Filter Sections" [(ngModel)]="term"></ion-searchbar>
  
       
      <select name="CodeId-" #codeId="ngModel" [(ngModel)]="postData.codeId">
       
        <option *ngFor="let item of Sections | filter:term " [value]="item.id">{{item.id}}</option>
      </select>
   
  
    <br />
  
    <div class="form-group">
  
      <ion-button  outline size="small" type="submit"  >SAVE</ion-button>
      <ion-button  outline size="small" type=" button"   (click)="cancel()">CANCEL</ion-button>
    </div>
  
  </form></ion-card>
</ion-content>