<ion-item translucent>
  <ion-menu-button></ion-menu-button>
 <ion-title>Your Question</ion-title>

</ion-item>


<ion-content >
<ion-card>
  <hr />
  <form #myForm="ngForm" (ngSubmit)="myForm.form.valid && saveBlogPost()" accept-charset="UTF-8" novalidate>
  
    <input type="text"   placeholder="Add title..."   name="postTitle"
      [(ngModel)]="postData.title" #postTitle="ngModel" required />
    <span class="text-danger" *ngIf="myForm.submitted && postTitle.errors?.required">
      Title is required
    </span>
    <br />
    <div class="form-group">
      <ckeditor class="editor" name="myckeditor" [config]="ckeConfig" [(ngModel)]="postData.content" #myckeditor="ngModel"
        debounce="300" [editor]="Editor"></ckeditor>
    </div>
 

      <ion-item>
        <ion-label>Chose OBC Section</ion-label>
        <ion-select   name="CodeId-" #codeId="ngModel" [(ngModel)]="postData.codeId">
          <ion-select-option *ngFor="let item of Sections"  [value]="item.id">{{item.id}}</ion-select-option>
        </ion-select>
      </ion-item>
  
    <br />
  
    <div class="form-group">
  
      <ion-button  outline size="small" type="submit" >SAVE</ion-button>
      <ion-button  outline size="small" type=" button"   (click)="cancel()">CANCEL</ion-button>
    </div>
  
  </form></ion-card>
</ion-content>