<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 
    <div *ngIf="postData" class="ion-padding">
      <h1>{{postData.title}}</h1>
      <ion-text  color="medium">  
        {{postData.createdDate | date:'longDate'}}
          {{postData.author}}
          <ion-chip *ngIf="postData.hasOwnProperty('codeId')">{{ postData.codeId}} </ion-chip>
   
      </ion-text>
        <br /> 
      <ion-text>
        
       
        <p [innerHTML]="postData.content">
      </ion-text>
    
    </div>
 
   
  <app-comments [blogId]="postId"></app-comments>

</ion-content>
