<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar">Posts</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div *ngIf="blogPost && blogPost.length>0; else emptyblog">
    <ion-item lines="inset" *ngFor="let post of blogPost | paginate: config">
      <ion-label>
        <p> <app-vote [movieId]='post.postId' [userId]='appUser?.name'></app-vote>
          <ion-chip>
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>{{post.author}}</ion-label>
          </ion-chip>
         
         
        </p > 
        <div routerLink="/app/tabs/blog/{{post.postId}}/{{post.title | slug}}">   <h2 style=" white-space: break-spaces;" >
          {{post.title}}</h2>
        <h3 *ngIf="post.hasOwnProperty('codeId')">
          {{post.codeId}}
        </h3>
        <p>{{post.createdDate}} </p>
       </div>
     
         
          <p *ngIf="appUser?.isAdmin || appUser?.name == blogPost.author">
            <ion-chip size="small" [routerLink]="['/editpost',post.postId]">Edit</ion-chip>
            <ion-chip size="small" color="danger" (click)="delete(post.postId)">Delete</ion-chip>
          </p>
       
      </ion-label>
    </ion-item>
    <app-paginator [pageSizeOptions]="pageSizeOptions" [config]="config"></app-paginator>
  </div>
  <ion-list-header [hidden]="blogPost && blogPost.length > 0">
    No Posts Found
  </ion-list-header>