<ion-content scrollY="false">
  <ng-template #anonymousUser>
  <span class="comment-card ion-elevation-z2">
    <a (click)="login()">Login with Google</a> to post comments
  </span>
</ng-template>
<ion-item lines="full" *ngIf="appUser; else anonymousUser" class="comment-card ion-elevation-z2">
  <ion-label>
   </ion-label>
   <form #commentForm="ngForm" (ngSubmit)="commentForm.form.valid && onCommentPost(commentForm)" novalidate>
   <ion-textarea ionInput placeholder="Comment" name="content" [(ngModel)]="comments.content" #content="ngModel"
        required></ion-textarea>
      <p *ngIf="commentForm.submitted && content.errors?.required">Comment is required</p>
      <ion-button type="
            submit" ion-raised-button color="primary">
        Post Comment
      </ion-button>
  </form>
</ion-item>
<ion-item lines= "inset"  *ngFor="let comment of commentList"  >
  <ion-label>
    <p>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>{{comment.commentedBy}}  </ion-label>
      </ion-chip>
      <app-vote [movieId]='comment.commentId' [userId]='appUser?.name'></app-vote>
    </p>
    <p>{{
      comment.commentDate | date: "short"
    }}</p>
    <p color="full" style = " white-space: break-spaces;"> {{ comment.content }} </p>
   
    <p *ngIf="appUser?.isAdmin || userEmail == comment.email">
        <ion-icon color="danger" size="small"
        (click)="deleteComment(comment.commentId)" name="trash-outline"></ion-icon>
    </p>
  </ion-label>
  </ion-item>
 </ion-content>
