<span *ngIf="(avgRating | async) as obs">

 

  <ion-chip  color="success" class="  vote up" (click)="upvote(obs.total )" [ngClass]="{'active' : obs.total  > 0 }">
    <ion-icon name="thumbs-up-outline"></ion-icon>
    <ion-label> {{obs.up}} </ion-label>
  </ion-chip>


  <ion-chip    color="danger" class="vote down" (click)="downvote(obs.total ) " [ngClass]="{'active' : obs.total < 0 }">
    <ion-icon name="thumbs-down-outline"></ion-icon>
    <ion-label> {{obs.down}}</ion-label>
  </ion-chip>

</span>