 

ul{
 
    margin: 5px;
    margin-left: 15px;
    padding: 2px;
    list-style-type: none;
 
     overflow: wrap;
   
     

}
 p{
     
    cursor:pointer;
    padding: 4px;
    
    overflow-wrap: normal;
     width: 100%;
     text-align: start; 
 }

 

li {
    
    text-align: start; 
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  }
   
  li:last-child {
    border: none;
  }
  ion-button {
   
    
     
    white-space: normal;
    height: fit-content;
  }